<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      
   <form action="/" enctype="multipart/form-data" method="POST">
        <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title" name="title" required >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Desc</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Desc"  name="desc" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">content</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter content"  name="content" >
      </div>
      <div class="form-group form-check">
        <label for="exampleFormControlFile1">Image</label>
        <input type="file" name="myFiles" class="form-control-file" id="exampleFormControlFile1" multiple>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
 
    
     
      
</body>
</html>